html{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hide-box{
    margin:0 auto;
    text-align: center;
    background-color: #bfb;
    border:solid 3px #444;
    width:700px;
    height:400px;
    overflow:hidden;
}

.fuwafuwa {
    -webkit-animation:fuwafuwa 3s infinite linear alternate;
    animation:fuwafuwa 3s infinite linear alternate;
    }
    
@keyframes fuwafuwa {
    0% {transform:translate(0, 0)}
    50% {transform:translate(0, 30px)}
    100% {transform:translate(0, 0)}
    }



    .infinity-slide{
        margin:0 auto;
        display: flex; /* 二つのスライドを横に並べる */
        width: 700px;
        background-color: #bbb;
        border:solid 3px #444;
        overflow: hidden;
      }
      
      #slide {
        animation: infinity-loop 20s infinite linear 1s both; /* 無限ループアニメーションの設定 */
        display: flex; /* スライドの要素を横に並べる */
        position: relative;
        font-size:100px;
      }
    
      
      /* 無限ループアニメーション */
      @keyframes infinity-loop {
        from {
          transform: translateX(0vw);
        }
        to {
          transform: translateX(-50vw);
        }
      }

    .space{
        color:#bbb;
    }
